// LIGHT THEME

$TINTCOLOR: #b32a2a;

$PINK: #fc5d68;
$RED_LIGHT: rgb(255, 240, 240);
$RED: rgb(220, 52, 52);
$RED_DARK: #621313;
$ORANGE_LIGHT: rgb(248, 212, 192);
$ORANGE: rgb(237, 112, 44);
$ORANGE_DARK: rgb(191, 85, 29);
$YELLOW_LIGHT: #ffb856;
$YELLOW: #f19819;
$YELLOW_DARK: #cc7b09;
$GREEN_LIGHT: rgb(187, 247, 187);
$GREEN: rgb(55, 230, 55);
$GREEN_DARK: rgb(38, 186, 38);
$BLUE_LIGHT: #6988f8;
$BLUE: #2a50e0;
$BLUE_DARK: #1739b8;
$TINT_LIGHT: rgb(187, 247, 247);
$TINT: rgb(60, 230, 230);
$TINT_DARK: rgb(39, 185, 185);
$PURPLE_LIGHT: #9587f0;
$PURPLE: #5f4ed5;
$PURPLE_DARK: #4737af;
$BROWN_LIGHT: rgb(249, 231, 187);
$BROWN: rgb(172, 140, 60);
$BROWN_DARK: rgb(120, 96, 37);
$GRAY: gray;
$BLACK: black;
$WHITE: white;

$BG_COLOR: white;
$BORDER_COLOR_LIGHT: rgba(146, 146, 146, 0.2);
$BORDER_COLOR: #e8e8e8;
$BORDER_COLOR_DARK: rgb(177, 177, 177);
$BORDER_COLOR_DARKER: rgba(134, 134, 134, 0.87);

$TAB_BG_COLOR: #f6f8fa;
$TAB_BG_COLOR_DARK: #3a3a3a;

$BACKDROP_COLOR: rgba(0, 0, 0, 0.47);
$BACKDROP_COLOR_DARK: rgba(255, 255, 255, 0.47);

$FONT_COLOR: #3a3a3a;
$BUTTON_FONT_COLOR: $TINTCOLOR;
$BUTTON_OUTLINE_BG_COLOR: white;
$BUTTON_OUTLINE_BORDER_COLOR: $TINTCOLOR;
$FONT_INACTIVE_COLOR: #5e5e5e;
$BOX_SHADOW: 0 0 10px 2px #00000029;
$SEGMENT_COLOR: #ffffff;
$HR_COLOR: #ececec;

// DARK THEME

$TINTCOLOR_DARK: #964040;
$TINTCOLOR_LIGHT: #dd5e5e;
$TINTCOLOR_LIGHT_DARK: #692525;

$BG_COLOR_DARK: #3d3d3d;

$FONT_COLOR_DARK: #f5f5f5;
$BUTTON_FONT_COLOR_DARK: white;
$BUTTON_OUTLINE_BG_COLOR_DARK: rgba(255, 255, 255, 0.08);
$BUTTON_OUTLINE_BORDER_COLOR_DARK: $BUTTON_OUTLINE_BG_COLOR_DARK;
$FONT_INACTIVE_COLOR_DARK: #dfdfdf;
$BOX_SHADOW_DARK: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
$SEGMENT_COLOR_DARK: #222222;
$HR_COLOR_DARK: #444444;

