// LIGHT THEME

$TINTCOLOR: #c66161;
$RED: red;
$ORANGE: orange;
$YELLOW: yellow;
$GREEN: green;
$BLUE: blue;
$PURPLE: purple;
$BROWN: brown;
$GRAY: gray;
$BLACK: black;
$WHITE: white;

$BG_COLOR: #ececec;
$BORDER_COLOR: #999999;

$FONT_COLOR: #3a3a3a;
$BOX_SHADOW_COLOR: #00000029;
$SEGMENT_COLOR: #ffffff;
$HR_COLOR: #ececec;

// DARK THEME

$TINTCOLOR_DARK: #964040;

$BG_COLOR_DARK: #3a3a3a;
$BORDER_COLOR_DARK: #444444;

$FONT_COLOR_DARK: #f5f5f5;
$BOX_SHADOW_COLOR_DARK: #00000029;
$SEGMENT_COLOR_DARK: #000000;
$HR_COLOR_DARK: #444444;